<div class="container-articles">
  <% @articles.each do |article|  %>
  <div class="container-articles-article">
    <h1><%=article.title%></h1>
    <div>
      <p>
        <%= article.body  %> - <%= link_to "Eliminar", article, method: :delete %>
      </p>
    </div>
  </div>
  <% end  %>
</div>
