/*all articles*/
.container-articles{
  width: 90%;
  margin: 0 auto;
}
.container-articles-article{
  background: #EBEBEB;
  padding: 1em;
  margin-bottom: 1em;
}

.container-articles-article p{
  color: #2F2E2E;
  margin-top: 1em;
}

.red{
  color: red !important;
}

/* Add articles*/
.field{
  margin-top: 1em;
}

.form-control{
  border: none;
  border-bottom: 1px solid;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}

.btn{
  background: rgba(228, 9, 12, 0.66);
  margin-top: 1em;
  padding: .5em 1em;
  border: 0;
  color: white;
}

.to-space{
  margin-top: 1em;
}
