*{
  outline: none;
}
body{
  font-family: 'Roboto', sans-serif;
}

header{
  margin-bottom: 1em;
}

a,a:visited{
  color: inherit;
  text-decoration: none;
}

h1{
  font-size: 1.3em
}

nav{
  padding: 1em
}

.be_red {
  background: #F22F31;
}

.white{
  color: #F4EEEC;
}

/*style articles*/
.field{
  margin-top: 1em;
}

.form-control{
  border: none;
  border-bottom: 1px solid;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}

.btn{
  background: rgba(228, 9, 12, 0.66);
  margin-top: 1em;
  padding: .5em 1em;
  border: 0;
}
